<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Arma3ConfigExtractorGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
    <userSettings>
        <Arma3ConfigExtractorGUI.Properties.Settings>
            <setting name="OutputPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="tmpWorkPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="PBOManagerDir" serializeAs="String">
                <value>C:\Program Files\PBO Manager v.1.4 beta</value>
            </setting>
            <setting name="Arma3ConfigExtractorDir" serializeAs="String">
                <value>.\</value>
            </setting>
            <setting name="CfgConvertDir" serializeAs="String">
                <value>C\steam\steamapps\common\Arma 3 Tools\CfgConvert</value>
            </setting>
            <setting name="PBODir" serializeAs="String">
                <value/>
            </setting>
        </Arma3ConfigExtractorGUI.Properties.Settings>
    </userSettings>
</configuration>
